*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  	list-style-type: none;
  	text-decoration: none;
}

.wrapper{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.social-title{
	background: #F8EFEF;
	padding: 0 15px;
margin: 0 auto;
}

.wrapper-social{
	max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
display: flex;
justify-content: space-between;
}

.social-list{
	background: background: #F8EFEF;
	width: 470px;

}

.social-list_title{
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
	padding: 18px 0 18px 0;
	color: #333333;
}

.social-list_description{
	font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
padding: 10px 0 18px 0;
color: #86878B;
}
.social-nav{
	display: inline-flex;
}

.list{
	display: flex;

align-items: center;
max-width: 688px;
justify-content: space-between;
padding-left: 50px;

}

.list-item{
	max-width: 55px;
	height: 55px;
}

.list-item:not(:last-child){
		margin-right: 45px;
}

.list__img{
	max-width: 55px;
	height: 55px;
	transition: 0.3s;
	cursor: pointer;
	position: relative;
	fill: #CCCCCC;
}


.facebook:hover{
	transform: translate(0,-15px);
	fill: #EC7979;
}

.twitter:hover{
	transform: scale(1.2);
}

.linkedin:hover{
	transform: skew(20deg, 30deg);
}

.pinterest:hover{
	transform: translate(0,15px);
}

.instagram:hover{
	transform: scale(0.8);
}

.git:hover{
	transform: skew(-20deg, -20deg);
}

.rss:hover{
	transform: skew(-20deg, 30deg);
}







.header-wrapper{
	margin: 0 auto;
	max-width: 1225px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header-list{
background: #000000;
padding: 22.46px 0 21.85px;
}



.header-nav{
	display: flex;
	max-width: 580px;
}

.header-menu__phone{
	width: 24px;
	height: 3px;
	background: #FFFFFF;
	display: none;
}
.header-nav__list{
	display: inline-flex;
	align-items: center;
	padding-left: 0;
}

.header-nav__item{
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;

}

.header-nav__text:hover{
	color: #EC7979;
}

.header-nav__item:not(:last-child){
	margin-right: 80px;
}

.header-nav__text{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
transition: 0.3s;

}



.banner{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 208px 0 185px;
}

.banner-flex{
	display: flex;
	justify-content: space-between;
}

.banner-text{
	padding: 23px 0;
	max-width: 840px;
}


.banner-description{
	max-width: 670px;
	Font-family: Raleway;
Font-style: Medium;
Font-size: 48px;
Line-height: 56px;
color: #FFFFFF;
	padding-top: 72.88px;
	padding-bottom: 97.12px;
	margin: 0;
}

.banner-description:after{
		display: block;
		text-align: center;
		content: "";
	width: 170px;
	height: 1px;
	background: #FFFFFF;
	position: relative;
	top: 55.12px;
	left: 0px;

}




.banner__button{
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 270px;
	background: none;
	border: 1px solid #FFFFFF;
	padding: 10px 0;
Font-family: Open Sans;
Font-size: 18px;
Line-height: 100%;
margin: 0;
transition: 0.3s;
}

.banner__button:hover{
background: #EC7979;
border-radius: 10px;
}


.banner-text_description{
	max-width: 270px;
	color: #FFFFFF;
	Font-family: Raleway;
Font-style: Regular;
Font-size: 18px;
Line-height: 21px;
Line-height: 100%;
padding: 3px 0 3px;
margin: 0;
margin-bottom: 42px;

}


.banner-input{
	max-width: 470px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 115px;
}

.banner-input__title{
		text-align: center;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
padding: 28.5px 0;
margin: 0 auto;


}

.banner-input_text{

	width: 100%;
	border: 1px solid #BDBDBD;
	border-left: none;
	border-right: none;
	border-top: none;

	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
outline: none;
}



.banner-input_label{
	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #BDBDBD;
padding-top: 33px;
}

.banner-input-container{
	padding: 12px 50px 75px;
	display: flex;
	flex-direction: column;
justify-content: space-between;
max-height: 100%;
}



.banner-input__free{
	padding: 0;
	color: #EC7979;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
}

.input__button{
	background: #EC7979;
		display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 470px;
	padding: 10px 0;
Font-family: Open Sans;
Font-size: 18px;
Line-height: 100%;
padding: 21px 0 21px;
border-radius: 0px 0px 10px 10px;
transition: 0.3s;
}

.input__button:hover{
	background: black;
}



.footer-background{
background: #000000;
padding: 35px 15px 27px 15px;
margin: 0 auto;
}

.footer-list{
	margin: 0 auto;
	max-width: 550px;
	display: flex;
justify-content: center;
}
.footer__svg svg{
  transition: 0.3s;
fill: #CCCCCC;
position: relative;
	max-height: 47.2px;
}

.footer-item:not(:last-child){
		margin-right: 26px;
}

.footer__svg svg:hover{
	fill: #EC7979;
}


.footer-text{
	text-align: center;
	font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
}


.title-text{
	text-align: center;
	line-height: 28.18px;
	font-size: 36px;
	padding: 50px 0;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
}

.title-description{
	text-align: center;
	max-width: 1170px;
	margin: auto;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
	padding-top: 50px;
}

.title-text:after{
		display: block;
		text-align: center;
		content: "";
	width: 170px;
	height: 1px;
	background: #EC7979;
	position: relative;
	top: 50px;
	left: 0px;
		margin: auto;
}



.checkbox-form{
	display: flex;
	justify-content: center;
}


.checkbox-input{
	width: 100%;
	border: 1px solid #BDBDBD;
	border-left: none;
	border-right: none;
	border-top: none;

	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
padding-bottom: 16px;
padding-top: 69px;
outline: none;
}

.input-checkbox{
	display: flex;
	width: 100%;
	padding-right: 15px;
	flex-direction: column;
}

.input-message{
	padding-left: 15px;
	width: 100%;
}

.checkbox-textarea{
		border: 1px solid #BDBDBD;
	border-left: none;
	border-right: none;
	border-top: none;
width: 100%;
	resize: none;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
height: 100%;
outline: none;
}

input:first-child{
	padding-top: 0;
}

.input-form{
	padding: 89px 0 50px;
}


.checkbox__button{
		display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 370px;
background: #EC7979;
	padding: 10px 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
margin: 0 auto;
transition: 0.3s;
}

.checkbox__button:hover{
	background: black;
	color: white;
	border-radius: 10px;
}

.input-send_button{
	padding-top: 50px;
}








.title{
padding: 60px 0 0;
}

.title-item{
	display: inline-block;
	padding: 10px 59.4px;
text-align: center;
Font-family: Open Sans;
Font-size: 14px;
Line-height: 19px;
}
.title-item__border{
	padding: 9.5px 66.4px 10.5px;
border: 1px solid #C6CBCD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
border-bottom-style: none;
background: white;
margin-bottom: -1px;
Font-family: Open Sans;
Font-size: 14px;
Line-height: 19px;
}
.title-line{
	background: gray;
height: 1px;
margin-left: 145px;
margin-right: 400px;
}
.block-cart{
	display: flex;
	justify-content: space-between;
border: 1px solid #C6CBCD;
}
.block-cart__text{
	vertical-align:top;
	display: inline-block;
	width: 570px;
	margin: 0 0 0 100px;

}
.block-cart__img2{
	display: inline-block;
	width: 470px;
	margin-top: -0.5px;
}
h3{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
width: 570px;
max-height: 124px;
padding: 41px 0 ;
}
.p1{
	max-width: 570px;
	padding-bottom: 2px;
}
.block-cart__button{	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 270px;
	background: #EC7979;
	padding: 16.5px 0;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
margin-top: 27px;
transition: 0.3s;
}

.block-cart__button:hover{
border-radius: 10px;
background: black;
color: white;
}


.block-cart__p2{
	padding-top: 40px;
	width: 570px;
}
.block-cart__p{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
width: 100%;
}


.block-shop-title_text{
	text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
padding: 54px 0;
}
.hr-line{
	background: #EC7979;
	display: block;
	width: 170px;
	height: 1px;
	margin:0 auto;
}
.block-shop_subtitle{
	text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
padding-top: 40px;
}
.block-cart__btn{
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 5px 5px;
	margin: auto;
}
.block-cart__img{
	display: inline-block;
	align-items: center;
	width: 170px;
	height: 170px;
}
.block-cart2{
  align-items: center;
  width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 39px;
  overflow: hidden;
  display: inline-block;
  
}
.displayed {
	align-items: center;
	display: inline-block;
	width: 65.29px;
	height: 65.29px;
	margin-top: 12px;
}
.displayed_2 {
	align-items: center;
	display: inline-block;
	width: 66px;
	height: 46px;
	margin-top: 23px;
}
.displayed_3 {
	align-items: center;
	display: inline-block;
	width: 44px;
	height: 66px;
	margin-top: 13px;
}

.block-shop{
align-items: center;
margin: auto;
padding: 50px 15px 58px 15px;
}
.block-cart__title{
	max-width: 369px;
	padding: 33px 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
}
.block-cart__subtitle{
	text-align: center;
	align-items: center;
	width: 370px;
	height: 105px;
	font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}

.block-shop_description{
	padding: 110px 0 0;
	margin: 0 auto;
	max-width: 1170px;
}









.price-list-container{
	margin: 0 auto;
	padding: 50px 15px 0 15px;
	background: #F5F5F5;

}

.price-list-title{
	text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
	padding: 54px 0;
}

.procelist-margin{
	margin-top: 59px;
}
.price-list_hr{

	display: block;
	width: 170px;
	height: 0px;
	border: 1px solid#EC7979;
	margin: auto;
}
.price-list-subtitle{
	text-align: center;
	max-width: 1170px;
	padding: 40px 170px 0px 170px;
	margin: 0 auto;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
}
.block-shop-price{
	display: flex;
	max-width: 1170px;
	justify-content: space-between;
	margin: 0 auto;
}
.price-item{
	padding: 15px 0 14px;
	height: 50px;
	list-style-type: none;
	background: #FFFFFF;
border: 2px solid #F5F5F5;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
text-transform: capitalize;
justify-content: center;
text-align: center;

color: #86878B;

}
.priselist{
	text-align: center;
	width: 32%;
padding: 0;
margin: 79px 0px 50px;
}
.price-item-1{
	width: 100%;
	height: 60px;
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
display: flex;
color: #FFFFFF;
}
.price-item-2{
	height: 100px;
	background: #333333;
border: 2px solid #F5F5F5;
padding: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
display: flex;
color: #FFFFFF;
}
.price-item-3{
	background: #333333;
border: 2px solid #F5F5F5;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
color: rgba(255, 255, 255, 0.5);
}









.reviews-title{
	text-align: center;
	line-height: 28.18px;
	font-size: 36px;
	padding: 54px 0;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
}
.reviews-subtitle{
	text-align: center;
	max-width: 1170px;
	margin: auto;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
	padding-top: 50px;
}

.reviews-title:after{
		display: block;
		text-align: center;
		content: "";
	width: 170px;
	height: 1px;
	background: #EC7979;
	position: relative;
	top: 50px;
	left: 0px;
		margin: auto;
}
.reviews{
	display: flex;
	justify-content: space-between;
	margin-top: 83px;
	padding-bottom: 64px;
}
.reviews-item{
	width: 32%;
	margin: 0;
}
.reviews-text{
	background: #E2E2E2;
border-radius: 10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
text-align: center;
padding: 38px 30px 37px 30px;
}

.reviews-text:after{
	display: block;
	content: "";
		width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
	position: relative;
	left: 40px;
	top: 57px;

}
.reviews img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 0 20px ;
}

	.reviews-img__block{
		display: inline-block;
		width: 270px;
		padding-left: 30px;

	}

	.img-name__profession{
		width: 270px;
		font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin-top: 21px;
	}

	.reviews-img__name{
				font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
width: 270px;
padding: 10.5px 0;
margin-top: 66px;
	}


	.banner-info{
background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/111.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 15px;
	}

	.banner2-title-text{
		text-align: center;
    line-height: 28.18px;
    font-size: 36px;
    padding: 53.5px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
	}

	.banner2-title-description{
		    text-align: center;
		    color: #FFFFFF;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
    padding: 50px 0 73px;
	}

	.banner2-title-text:after {
    display: block;
    text-align: center;
    content: "";
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    position: relative;
    top: 50px;
    left: 0px;
    margin: auto;
  }

  .banner2__button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 270px;
    background: none;
    border: 1px solid #FFFFFF;
    padding: 10px 0;
    Font-family: Open Sans;
    Font-size: 18px;
    Line-height: 100%;
    margin: 0 auto;
    transition: 0.3s;
  }

  .banner2__button:hover{
  	background: #EC7979;
  	border-radius: 10px;
  }

  .img-banner2{
  	width: 100%;
  	height: 442px;
  	display: block;
  }




  @media (max-width: 1024px) {
  	.header-list{
  		padding: 22px 20px 22px 115px;
  	}
.banner{
	padding: 137px 5px 106px 100px;
}

.banner-description{
	max-width: 454px;
	font-weight: 500;
font-size: 36px;
line-height: 42px;
padding: 54px 0 72px;
}

.banner-description:after {
	top: 41.5px;
	width: 115px;}

	.banner-text_description{
		font-weight: 400;
font-size: 14px;
line-height: 16px;
margin: 0;
padding-bottom: 31px ;
	}

	.banner-input{
		max-width: 398px;
		max-height: 450px;
		margin: 0;
	}

	.input__button{
		max-width: 398px;
	}

.banner-text{
	max-width: 454px;
	padding: 17px 0;
}

.banner__button{
	max-width: 183px;
	max-height: 50px;
	font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.social-title{
	max-height: 105px;
	padding-left: 0;
}
.social-list_title{
font-weight: 700;
font-size: 18px;
line-height: 25px;
padding: 10px 0;
}
.social-list_description{
font-weight: 400;
font-size: 14px;
line-height: 16px;}

.social-nav{
	max-width: 55%;
}

.list-item:not(:last-child){
	width: 53px;
	height: 53px;
	margin-right: 28px;
}

.list__img{
	width: 53px;
	height: 53px;
}

.list{
	padding-left: 0;
}

.social-list{
	max-width: 402px
}


.block-cart__p{
	max-width: 482px;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 38px;
}

.block-cart__text{
	max-width: 57%;
	margin-left: 0;
	padding-left: 84px;
}

.block-cart__img2{
	max-width: 398px;
	max-height: 385px;
}

h3{
	max-width: 482px;
	font-weight: 700;
font-size: 24px;
line-height: 33px;
padding: 28px 0;
}

.p1{
max-width: 100%;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}

.block-cart__p2{
	max-width: 100%;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 14px;
}

.block-cart__button{
	max-width: 231px;
	margin-top: 38px;
}

.block-shop-title_text{
	font-weight: 400;
font-size: 24px;
line-height: 28px;
padding: 46px 0;
}

.hr-line{
	max-width: 142px;
}

.block-shop_subtitle{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 32px;
}

.block-shop_description{
	padding-top: 65px;
}

.block-cart__btn{
	width: 33%;
	padding: 5px 10px;
}

.block-cart__title{
	padding: 28px 0;
	font-weight: 700;
font-size: 18px;
line-height: 25px;
}

.block-cart__subtitle{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
max-width: 100%;
}

.block-cart2{
	max-width: 80px;
	max-height: 80px;
	margin-bottom: 32px;
}

.displayed_2{
	width: 59px;
    height: 40px;
    margin-top: 19px;
}

.displayed{
	    width: 58.29px;
    height: 58.29px;
    margin-top: 11px;
}

.displayed_3{
	width: 38px;
    height: 57px;
    margin-top: 12px;
}

.block-cart__subtitle{
	max-width: 100%;
	max-height: 64px;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
}

.price-list-title{
	padding: 46px 0;
	font-weight: 400;
font-size: 24px;
line-height: 28px;
}

.price-list-subtitle{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 32px;
}

.priselist {
margin-top: 49px;

}

.pricelist-margin{
	margin-top: 32px;
}

.reviews-title{
	font-weight: 400;
font-size: 24px;
line-height: 28px;
padding: 45.5px 0;
}

.reviews-title:after{
	width: 142px;
	top: 47px;
}

.reviews-subtitle{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 32px;
}

.reviews-text{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding: 45px 29px 35px 29px;
}

.reviews-text:after{
	left: 30px;
    top: 53px;
}

.reviews-img__block{
	max-width: 230px;
	padding-left: 22px;
}

.reviews-img__name{
	width: 100%;
	font-weight: 700;
font-size: 18px;
line-height: 25px;
padding: 5.5px 0;
margin: 0;

}

.img-name__profession{
	width: 100%;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-top: 0;
padding-top: 9px;
}

.reviews-img{
padding-top: 66px;
display: flex;
}

.reviews img{
	margin: 0;
}

.reviews{
	padding-bottom: 57px;
}


.banner2-title-text{
	font-weight: 400;
font-size: 24px;
line-height: 28px;
padding: 45.5px 0;
}

.banner2-title-text:after{
	width: 142px;
	top: 47px;
}

.banner2-title-description{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding: 32px 0;
}

.banner2__button{
	width: 318px;
	font-weight: 600;
font-size: 18px;
line-height: 25px;
padding: 15.5px 0;
}

.title-text{
	font-weight: 700;
font-size: 24px;
line-height: 28px;
padding: 45.5px 0;
}

.title-text:after{
	width: 142px;
	top: 47px;
}

.title-description{
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 32px;
}

.input-form{
	padding-top: 72px;
}

.checkbox-input{
	padding-top: 51px;
}

.checkbox__button{
	max-width: 318px;
	padding: 16.5px 0;
}

.footer-background{
	padding: 39px 15px 30px 15px;
}

.footer__svg svg{
	height: 52%;
}

.footer-list{
	max-width: 460px;
}

.footer-item:not(:last-child){
	margin-right: 16px;
}

.footer-text{
	font-size: 14px;
line-height: 16px;
padding-top: 10px;
}
}





@media (max-width: 320px) {

.header-list{
	padding: 16px 20px;
}

.header-nav{
	display: none;
}

.header-logo img{
height: 22.92px;
}

.banner-text img{
display: none;
}

.banner{
	padding: 84px 0 50px 0;
}

.banner-flex{
	flex-direction: column;
}

.banner-description{
	padding-top: 0;
	padding-bottom: 85px;
	font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;
}

.banner-text{
	padding: 0;
}


.banner-description:after{
	width: 134px;
    top: 43px;
    left: 82px;
}

.banner-text_description{
	padding: 0 0 42px;
max-width: 100%;
	text-align: center;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
}

.banner__button{
	max-width: 100%;
	width: 100%;
	padding: 11.5px 0;
	margin-bottom: 56px;
}

.banner-input__title{
	font-weight: 700;
font-size: 14px;
line-height: 19px;
padding: 35.5px 0;
}

.banner-input__free{
	font-weight: 700;
font-size: 14px;
line-height: 19px;
}

.banner-input-container{
	padding: 0 28px 51px 20px;
}
.banner-input_label:first-child{
	padding-top: 0;
}

.input__button{
	width: 100%;
}

.social-title{
	padding: 0;
	max-height: 100%;
}

.wrapper-social{
	flex-direction: column;
}

.social-list{
	width: 100%;
	padding-top: 31px;
}

.social-list_title{
	text-align: center;
	font-weight: 700;
font-size: 18px;
line-height: 25px;
}

.social-list_description{
	text-align: center;
	font-weight: 400;
font-size: 14px;
line-height: 16px;
padding: 0;
}

.list-item{
	height: 100%;
}

.list-item:not(:last-child){
	margin-right: 17px;
		height: 100%;
}

.social-nav{
	max-width: 100%;
	padding-top: 36px;
}

.list{
	width: 100%;
}

.list__img {
	width: 26px;
	height: 26px;
}

.wrapper-social{
	padding-bottom: 48px;
}


.block-cart{
	flex-direction: column;
}


.block-cart__img2{
	display: none;
}

.title-item__border{
	padding: 9.5px 31.4px 10.5px;
}



.title-item{
padding: 9.5px 24.4px 10.5px;
}

.block-cart__text{
	padding: 0;
	text-align: center;
	width: 100%;
	max-width: 100%;
	padding: 0 20px 30px 24px;
}

.block-cart__text h3{
	font-weight: 700;
font-size: 18px;
line-height: 25px;
width: 100%;
padding: 31px 0;
}

.block-cart__p{
	font-weight: 400;
font-size: 13px;
line-height: 15px;
padding-top: 29px;
}

.block-cart__button{
	width: 100%;
	max-width: 100%;
margin-top: 29px;

}


.block-shop_description{
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.block-cart__btn{
	max-width: 100%;
	width: 100%;
	padding: 43px 0 0;
}

.block-shop-title_text{
	font-weight: 400;
font-size: 18px;
line-height: 21px;
padding: 49.5px 0;
}

.hr-line{
	width: 134px;
}

.block-shop_subtitle{
	font-size: 13px;
line-height: 15px;
padding-top: 25px;
}


.block-cart__subtitle{
	height: 100%;
	max-height: 100%;
	padding: 0 18px;
}


.block-shop-price{
	flex-direction: column;
}

.priselist{
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
}

.price-list_hr{
	width: 134px;
	margin-top: 24px;
}

.price-list-subtitle{
	padding: 24px 0 0;
}

.price-list-container{
	padding-top: 0;
	padding-bottom: 26px;
}
.price-item{
	font-size: 14px;
line-height: 16px;
height: 100%;
padding: 10px 0;
}

.price-item-1{
	font-size: 18px;
line-height: 25px;
height: 100%;
padding: 9px 0;
}

.price-item-2{
font-size: 24px;
line-height: 28px;
height: 100%;
padding: 23px 0;
}

.price-item-3{
	font-size: 14px;
line-height: 16px;
height: 100%;
padding: 10px 0;
}


.reviews-title{
padding: 31.5px 0;

}


.reviews-title:after {
    width: 134px;
    top: 32px;
}

.reviews-subtitle{
	padding-top: 24px;

}

.reviews{
	flex-direction: column;
	margin-top: 24px;
}

.reviews-item{
	width: 100%;
}

.reviews-item:nth-child(2){
	display: none;
}

.reviews-item:nth-child(3){
	display: none;
}

.reviews-img__name{
	font-size: 14px;
line-height: 19px;
padding: 8.5px 0;
margin-top: 4px;
}

.img-name__profession{
	font-size: 13px;
line-height: 15px;
}

.reviews-img{
	padding-top: 62px;
}


.banner-info{
	padding: 0 0 58px 0;
}
.banner2-title-text:after{
	width: 134px;
}
.banner2-title-description{
	padding: 16px 0 66px;
}

.banner2__button{
	width: 100%;
}
.title-text:after{
	width: 134px;
}
.title-description{
	padding-top: 24px;
}
.checkbox-form{
	flex-direction: column;
}
.input-checkbox{
	padding: 0;
}
.input-message{
	padding: 50px 0;
}
.checkbox-textarea{
	padding: 0 0 182px;
}

.input-message{
	padding-bottom: 0;
}
.checkbox__button{
width: 100%;
}

.footer-item{
	max-width: 26px;
	max-height: 26px;
}
.footer__svg svg{
	height: 100%;
	width: 100%;
}
.footer-item:not(:last-child){
	margin-right:22px;
}

.footer-text{
	padding: 44px 0 0;
}

.footer-background{
	padding-bottom: 45px;
}

.reviews:after{
	display: block;
	width: 9.5px;
	height: 9.5px;
	border: 1px solid #86878B;
	border-radius: 50%;
	top: 28px;
	left: 81px;
	content: "";
position: relative;
}

.reviews-item:after{
	display: block;
	width: 9.5px;
	height: 9.5px;
	border: 1px solid #86878B;
	border-radius: 50%;
	top: 40px;
	left: 191px;
	content: "";
position: relative;
}

.reviews-img__block:after{
	background: #86878B;
	display: block;
	width: 9.5px;
	height: 9.5px;
	border: 1px solid #86878B;
	border-radius: 50%;
	top: 51px;
	left: 45px;
	content: "";
position: relative;
}

.header-menu__phone{
	width: 24px;
	height: 3px;
	background: #FFFFFF;
	display: block;
	margin: 11px 10px 0 0;
}

.header-menu__phone:after{
		background: #FFFFFF;
	display: block;
	width: 24px;
	height: 3px;
	top: 6px;
	left: 0;
	content: "";
position: relative;
}

.header-menu__phone:before{
		background: #FFFFFF;
	display: block;
	width: 24px;
	height: 3px;
	top: -8px;
	left: 0;
	content: "";
position: relative;
}

}